{{!-- Page to see your stock portfolio and other personal account information --}}
<nav>
    <ul>
        <li><a href="account.handlebars">About Ryan Chin</a></li>
        <li><a href="discussion.handlebars">My Education</a></li>
    </ul>
</nav>