<div class="container mt-5 card shadow">
    <div class="mx-3 my-3">
        <h1 class="mb-3">Account</h1>
        <p>Currently logged in as: {{username}}</p>

        <div class="my-2">
            <a href="/account/update" class="btn btn-primary">Update Password</a>
        </div>

        {{#if updated}}
            <p class="text-primary">Successfully updated password!</p>
        {{/if}}

        <div>
            <a class="logoutLink btn btn-primary" href="/logout">Log out</a>
        </div>
    </div>
</div>