{{!-- Page to see your stock portfolio and other personal account information --}}
<nav>
    <ul>
        <li><a href="/account">Account</a></li>
        <li><a href="/posts">Discussion</a></li>
    </ul>
</nav>
<h1>Welcome {{username}}!</h1>
<p>Have button here to update profile.</p>
<p>View your portfolio: --insert link here to portfolio--</p>
<a class="logoutLink" href="/logout">Logout</a>
