{{!-- Main landing page for whoever first comes to our site. Prompts with login or signup. --}}
<h1 class="header">Welcome to Stock Simulator!</h1>
<p>Little blurb ab us</p>
<nav>
    <ul>
        <li><a href="login.handlebars">Sign In Here!</a></li>
        <li><a href="signup.handlebars">Sign Up Here!</a></li>
    </ul>
</nav>
