{{!-- Main landing page for whoever first comes to our site. Prompts with login or signup. --}}
<h1 class="header">Welcome to Stock Simulator!</h1>
<p>Little blurb ab us</p>

<p>Leaderboards will go here</p>

<table id="leaderboard">
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Money</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Ryan Clark</td>
    <td>$1,000,000</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Ryan Chin</td>
    <td>$12</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Andrew Narvaez</td>
    <td>-$10,000</td>
  </tr>
</table>