{{!-- Main landing page for whoever first comes to our site. Prompts with login or signup. --}}
<h1 class="mb-3">Welcome to Stock Simulator!</h1>
<p>Little blurb ab us</p>

<p>Leaderboards will go here</p>

<table id="leaderboard">
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Money</th>
  </tr>
  {{#each users}}
    <tr>
        <td>#{{counter @index}}</td>
        <td>{{this.username}}</td>
        <td>{{this.acc_value}}</td>
    </tr>
  {{/each}}
</table>