<div class="container mt-5 card shadow">
        <div class="mx-3 my-3">
            <h1 class="mb-3">You have been successfully logged out.</h1>
            <a class="returnlink" href="/">Return to home</a>
    </div>
</div>
