{{!-- If the user is not logged in they will be greeted with this message. --}}
<h1 class="mb-3">You are not logged in. Please go to the login and login...</h1>
<a class="loginlink" href="/">Login</a>
