<h1>Sign Up</h1>
<p>{{error}}</p>
<article>
    <form id="signup-form" action="/signup" method="POST" class="new-signup-info">
        <label for="username">Username:
            <input id="username" type="text" name="username" placeholder="WolfWallStreet" class="username-input"/>
        </label>
        <label for="password">Password:
            <input id="password" type="password" name="password" placeholder="St0cks1ml3g3nd!" class="password-input"/>
        </label>
        <label for="email">Email:
            <input id="email" type="text" name="email" placeholder="dogecoin@superstock.com" class="email-input"/>
        </label>
        <button class="button" type="submit">Submit</button>
    </form>
</article>
<a class="loginlink" href="/">Already have an account? Click here to log-in</a>

