<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stock Simulator</title>
    <link rel="stylesheet" href="/public/css/main_styles.css" />
    <link rel="icon" href="../../public/css/images/stock_candlesticks.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <!--Dropdown list and respective css from:
        https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp-->
      
      <nav class="navbar fixed-top navbar-light bg-light">
        <span class="navbar-brand mb-3 text-primary">Stock Simulator</span>
        {{#if authenticated}}
          <a href="/logout">Log out</a>
          <a href="/account">Account</a>
          <a href="/discussion">Discussion</a>
          <a href="/portfolio">My Portfolio</a>
        {{else}}
          <a href="/signup">Sign up</a>
          <a href="/login">Log in</a>
          <a href="/discussion">Discussion</a>
        {{/if}}
          <a href="/">Home</a>
      </nav>

    </header>

    <main>
        {{{body}}}

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" 
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
         <script src="/public/js/leaderboards_with_ajax.js"></script>
    </main>
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3">
         <p><a href="https://iexcloud.io" class="attribution" target="_blank">Data provided by IEX Cloud</a></p>
      </div>
    </footer>
  </body>
</html>