<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stock Simulator</title>
    <link rel="stylesheet" href="/public/css/main_styles.css" />
    <link rel="icon" href="../../public/css/images/stock_candlesticks.png">
    
  </head>

  <body>
    <header>
      <!--Dropdown list and respective css from:
        https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp-->
        
      <div class="navbar">

        <!--
        <div class="dropdown">
          <button class="dropbtn">Events
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        -->

        {{#if authenticated}}
          <a href="/logout">Log out</a>
          <a href="/account">Account</a>
          <a href="/discussion">Discussion</a>
          <a href="/portfolio">My Portfolio</a>
        {{else}}
          <a href="/signup">Sign up</a>
          <a href="/login">Log in</a>
          <a href="/discussion">Discussion</a>
        {{/if}}
          <a href="/">Home</a>
      </div>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer class="foot">
      <p><a href="https://iexcloud.io" class="attribution" target="_blank">Data provided by IEX Cloud</a></p>
    </footer>
  </body>

</html>