<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/public/css/main_styles.css" />
  </head>

  <body>
    <header>
      <h1 class="header">Welcome to Stock Simulator!</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="foot">
      <p>Welcome to the footer...</p>
    </footer>
  </body>

</html>