{{!-- Handle and display our errors should one be reached --}}
<div class="container mt-5 card shadow">
  <div class="mx-3 my-3">
    <h1>Errors Found</h1>
    <p class = {{errorType}}>{{error}}</p>
  </div>
</div>