<article class="new-post">
  <h1>Add to the discussion.</h1>
  <form action="/discussion" method="POST" class="new-post-form">
    <div class="form-group">
      <label for="title">
        Title
        <input type="text" id="title" name= 'title' placeholder="Twitter gets Musk'd" value="{{post.title}}" class="full-width-input"/>
      </label>
    </div>
    <div class="form-group">
      <label for="tags">
      Tags
      <input 
        id="tags"
        name="tags"
        type="text"
        class="form-control p-4"
        data-role="tagsinput"
      />
    </label></div>
    <div class="form-group">
      <label for="info">
      Post Body
      <textarea id="info" name="info" rows="4" placeholder="Content" class="full-width-input">{{post.body}}</textarea>
    </label>
    </div>
    {{!-- <div class="form-group"></div> --}}
    <p class = "error">{{error}}</p>
    <button type="submit">Submit Post</button>
    <button type="reset">Clear Form</button>
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</article>