{{!-- This page will hold the discussions that users have posted, it will also allow you to post your own
discussions if you choose. --}}
<nav>
    <ul>
        <li><a href="account.handlebars">Account</a></li>
        <li><a href="posts.handlebars">Discussion</a></li>
    </ul>
</nav>
<p>{{error}}</p>
