{{!-- This page will hold the relevant posts that match the searched tags --}}
<p>{{error}}</p>
<section>
  <h1>Posts</h1>
  {{#each posts}}  
    <article class="post">
      <h2><a href="/discussion/{{_id}}">{{title}}</a></h2>
      <p>{{posts.body}}</p>
    </article>
  {{/each}}
  <a href="/discussion">Back to All Posts</a>
</section>
<a class="new-post" href="discussion/newPost">Make a new post here!</a>
